.product {
    border: 1px solid #333;
    background-color: white;
    margin: 10px;

    display: inline-block;
    width: 250px;
    height: 350px;
}

.product .total {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: tomato;
}

.product .price {
    color: #333;
}

.product img {
    width: 248px;
    height: 200px;
}